# App
APP_MODE=
APP_PORT=
APP_READ_TIMEOUT=
APP_WRITE_TIMEOUT=
APP_IDLE_TIMEOUT=
APP_REQUEST_TIMEOUT=
APP_MAX_PROCS=
APP_ORIGINS=
APP_MAX_RPS=

# Authentication (password generation & JWT)
AUTH_PASSWORD_COST=
AUTH_JWT_SECRET_KEY=
AUTH_JWT_ACCESS_TOKEN_TTL=
AUTH_JWT_REFRESH_TOKEN_TTL=
AUTH_JWT_ISSUER=

# Log
LOG_LEVEL=
LOG_LOKI_URL=

# POSTGRES
POSTGRES_CONN_STRING=

# Redis
REDIS_HOST=
REDIS_PASSWORD=
REDIS_DB=
REDIS_TTL=

# GOOSE
GOOSE_DRIVER=
GOOSE_DBSTRING=
GOOSE_MIGRATION_DIR=
